0-main_page.pdf
1-plan_overview.pdf
2-good_example.pdf
3-bad_example.pdf
2023-10-25_assignment2/__pycache__
2023-10-25_assignment2/stations/*
2023-10-25_assignment2/rawdata/*
2023-11-06_guest_lecture+pitch/presentation/presentation.pdf
2023-11-06_guest_lecture+pitch/presentation/tmp/
