0-main_page.pdf
1-plan_overview.pdf
2-good_example.pdf
3-bad_example.pdf
2023-10-25_assignment2/__pycache__
2023-10-25_assignment2/stations/*
2023-10-25_assignment2/rawdata/*
2023-11-06_guest_lecture+pitch/presentation/presentation.pdf
2023-11-06_guest_lecture+pitch/presentation/tmp/
2023-11-11_assignment3/tmp/
2023-11-11_assignment3/*.pdf
writeup-wordpress_rce/tmp
writeup-wordpress_rce/writeup-authenticated_wordpress_rce.pdf
2023-11-20_feedback_from_tom+colors/toms_email_address.txt
2023-12-07_exam_project/website/sprites/*.zip
2023-12-07_exam_project/website/sprites/*.png
2023-12-07_exam_project/website/pokemon.js
2023-12-07_exam_project/paper/tmp
2023-12-07_exam_project/paper/reflection_paper.pdf
