html
{
	background-image: linear-gradient(paleturquoise, palegreen);
}

.bubble
{
	stroke: black;
	stroke-width: 1px;
}

.line
{
	stroke: gray;
	stroke-width: 2;
}

.tooltip
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	pointer-events: none;
	display: none;
	white-space: pre-line; /* Allows line breaks */
}

div.text_container
{
	max-width: 66%;
	margin-left: auto;
	margin-right: auto;
}

#pkmnToShow
{
	width: 50px;
}

#visualization
{
	border: 5px solid black;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}

#filter_elements, #sorting_elements
{
	padding: 5px;
}

#sorting_elements input, #sorting_elements select, #filter_elements button
{
	margin: 2px;
	padding: 2px;
}

/*Indication if a button is activated or not*/
button.on#show_attack_btn, .attack_bubble
{
	background-color: #FF5733; /*Red*/
	fill: #FF5733; /*Red*/
	color: white;
}
button.on#show_base_egg_steps_btn, .base_egg_steps_bubble
{
	background-color: #3366FF; /*Blue*/
	fill: #3366FF; /*Blue*/
	color: white;
}
button.on#show_base_happiness_btn, .base_happiness_bubble
{
	background-color: #33FF33; /*Green*/
	fill: #33FF33; /*Green*/
}
button.on#show_capture_rate_btn, .capture_rate_bubble
{
	background-color: #9933FF; /*Purple*/
	fill: #9933FF; /*Purple*/
	color: white;
}
button.on#show_defense_btn, .defense_bubble
{
	background-color: #FFA500; /*Orange*/
	fill: #FFA500; /*Orange*/
}
button.on#show_experience_growth_btn, .experience_growth_bubble
{
	background-color: #FFFF33; /*Yellow*/
	fill: #FFFF33; /*Yellow*/
}
button.on#show_height_m_btn, .height_m_bubble
{
	background-color: #00FFFF; /*Cyan*/
	fill: #00FFFF; /*Cyan*/
}
button.on#show_hp_btn, .hp_bubble
{
	background-color: #FF00FF; /*Magenta*/
	fill: #FF00FF; /*Magenta*/
}
button.on#show_percentage_male_btn, .percentage_male_bubble
{
	background-color: #00FF9E; /*Blue-Green*/
	fill: #00FF9E; /*Blue-Green*/
}
button.on#show_pokedex_number_btn, .pokedex_number_bubble
{
	background-color: #FFFFFF; /*White*/
	fill: #FFFFFF; /*White*/
}
button.on#show_sp_attack_btn, .sp_attack_bubble
{
	background-color: #000000; /*Black*/
	fill: #000000; /*Black*/
	color: white;
}
button.on#show_sp_defense_btn, .sp_defense_bubble
{
	background-color: #009999; /*Teal*/
	fill: #009999; /*Teal*/
	color: white;
}
button.on#show_speed_btn, .speed_bubble
{
	background-color: #996633; /*Brown*/
	fill: #996633; /*Brown*/
	color: white;
}
button.on#show_weight_kg_btn, .weight_kg_bubble
{
	background-color: #808080; /*Gray*/
	fill: #808080; /*Gray*/
	color: white;
}
